{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/tubobolhas.png' %}" alt="">
    </div>

{% include 'partials/_busca.html'  %}

{% include 'partials/_menu.html'  %}

    <div class="contact-area section-padding-0">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <div class="section-heading">
                       <h3>Olá {{ user.username }}!</h3>
                   </div>
               </div>
           </div>
       </div>
    </div>

<!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if resultados %}
                {% for resultado in resultados %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/exame.png' %}" alt="">
                        <div class="receipe-content">
                            <a href="{% url 'resultado' resultado.id %}">
                                <h5>{{resultado.nome_do_exame}}</h5>
                                <h7>{{resultado.date_do_resultado}}</h7>
                            </a>
                        </div>
                    </div>
                </div>
    {% endfor %}
    {% else %}

                {% endif %}
            </div>
        </div>
    </section>


{% include 'partials/_footer.html'%}

{% endblock %}
