{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/tubobolhas.png' %}" alt="">
    </div>

    {% include 'partials/_busca.html' %}
    {% include 'partials/_menu.html' %}

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{% static 'img/bg-img/Lab-Medicine-banner.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                          <!--  <span>30 de Fevereiro, 2000</span> -->
                            <h2>{{exame.nome_do_exame}}</h2>
                            <div class="receipe-duration">
                                <h6>Preparo: {{exame.preparo_para_exame }}</h6>
                                <h6>Duração do exame: {{exame.tempo_para_realizacao_exame}} minutos</h6>
                                <h6>Tipo de exame: {{exame.tipo_exame}}</h6>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <h4>Sobre o exame</h4>
                        <div class="single-preparation-step d-flex">
                            <p>{{exame.sobre_o_exame}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% include  'partials/_footer.html' %}
{% endblock %}
