{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/tubobolhas.png' %}" alt="">
    </div>

    {% include 'partials/_busca.html' %}
    {% include 'partials/_menu.html' %}

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{% static 'img/bg-img/Lab-Medicine-banner.jpg' %}">
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                          <span>{{resultado.date_do_resultado}}</span>
                            <h2>{{resultado.nome_do_exame}}</h2>
                            <div class="receipe-duration">
                                <h6>Paciente: {{resultado.nome_paciente }}</h6>
                                <h6>Médico requerente: {{resultado.medico_requerente}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <h4>Laudo:</h4>
                        <div class="single-preparation-step d-flex">
                            <p>{{resultado.laudo_exame}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% include  'partials/_footer.html' %}
{% endblock %}
